<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <header>
            <% include ../partials/nav.ejs %>
        </header>
        <main>
            <div class="main-wrapper">
                <h1>Cool, yeah!!</h1>
                <a href="/">home</a>
            </div>
        </main>
    </body>
</html>
